@model Courses.Models.Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
    <h1>Courses Details</h1>
    <hr />
    <h4>Course Id: @Model.Id</h4>
    <h4>Course Name: @Model.Name</h4>
</body>
</html>
