@model Courses.Models.Course
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
    <h1>Courses Details</h1>
    <hr />
    <h3>Course Id: @Model.Id</h3>
    <h3>Course Name: @Model.Name</h3>
    <h3>Course Instructor: <a href="/Instructor/Details/@Model.InstructorId">@Model.Instructor.Name</a></h3>
    <hr />
    <h4>Students Enrolled</h4>
    @foreach (var enrollment in Model.Students)
    {
        <p>@enrollment.Student.FullName</p>
    }

</body>
</html>
