@model IEnumerable<Courses.Models.Course>

@section styles{ 
    <link rel="stylesheet" href="" />
}

<h2>Courses List</h2>
<a href="/Course/Create">Add New Course</a>
<hr />
<ul>
    @foreach (var course in Model)
    {
        <li><a href="/Course/Update/@course.Id">@course.Name</a> - <a href="/Course/Delete/@course.Id">X</a></li>
    }
</ul>

@section scripts{ 
    <script></script>
}
