@model IEnumerable<Courses.Models.Student>

<h2>Student List</h2>
<a href="/Student/Create">Add New Student</a>
<hr />
<ul>
    @foreach (var student in Model)
    {
        <li><a href="/Student/Details/@student.Id">@student.FullName</a> - <a href="/Student/Update/@student.Id"><button>Edit</button></a></li>
    }
</ul>
